body, h1, h2, h3, h4, h5, h6, hr, p,
dl, dt, dd, ul, ol, li,
pre, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
body,
button, input, select, textarea {
    font: 14px/1 Microsoft Yahei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
ul, ol { list-style: none; }
a { text-decoration: none; color: #838383; }
a:hover { text-decoration: underline; }
 img { border: none; }
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html { overflow-y: scroll; }

.f-fwb{font-weight: bold}
.f-fl{float: left}
.f-fr{float: right}
.f-cb:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.f-cb{*zoom:1;}
